<h3><%=@report_title3%></h3>


<% total_issues = aggregate(data, {'project_id' => @project.id})%>
<% total_column = []%>

<% for status in @statuses %>
    <% total_column[status.id] = aggregate data, {"status_id" => status.id } %>
<% end %>


<% if @statuses.empty? or rows.empty? or data.empty? %>
    <p><i><%=l(:label_no_data)%></i></p>
<% else %>
<table class="list issue-report">
<thead><tr>
<th width="20%"></th>
<% for status in @statuses %>
  <%if total_column[status.id] > 0 %>
    <th><%= link_to status.name, issues_path(filters_for_url({"project_type_id" => {:operator => "=", :values => [Setting.default_project_for_strategy.to_i]}, "status_id" => {:operator => "=", :values => [status.id.to_s] },"project_and_descendants" => {:operator => "=", :values => rows.map{|row| row.id.to_s} },"tracker_id" => {:operator => "=", :values => Tracker.where(:is_in_roadmap => true).map{|t| t.id.to_s} }}))%></th>
  <% end %>
<% end %>
<th><strong><%= link_to l(:label_total), issues_path(filters_for_url({"project_type_id" => {:operator => "=", :values => [Setting.default_project_for_strategy.to_i]}, "status_id" => {:operator => "=", :values => @statuses.map{|status| status.id.to_s} },"project_and_descendants" => {:operator => "=", :values => rows.map{|row| row.id.to_s} },"tracker_id" => {:operator => "=", :values => Tracker.where(:is_in_roadmap => true).map{|t| t.id.to_s} }}))%></strong></th>
<th><strong><%= link_to l(:label_delayed), issues_path(filters_for_url({"project_type_id" => {:operator => "=", :values => [Setting.default_project_for_strategy.to_i]}, "status_id" => {:operator => "o", :values => @statuses.map{|status| status.id.to_s} },"project_and_descendants" => {:operator => "=", :values => rows.map{|row| row.id.to_s} },"tracker_id" => {:operator => "=", :values => Tracker.where(:is_in_roadmap => true).map{|t| t.id.to_s} }, "due_date" => {:operator => "<=", :values => [(Date.today - 1).to_s(:db)] }}))%></strong></th>
<th><strong><%=l(:label_weight)%></strong></th>
<th><strong><%=l(:label_advanced_porcent)%></strong></th>
<th><strong><%=l(:label_delayed_porcent)%></strong></th>
</tr></thead>
<tbody>
<% for row in rows %>
<% total_row = aggregate(data, { field_name => row.id }) %>
<% total_delayed_row = aggregate(data_delay, { field_name => row.id }) %>
<% total_closed = aggregate(data, { field_name => row.id, "closed" => 1 }) %>
<% weight = (total_row.to_f/total_issues*100).round(2) rescue '-' %>
<% advanced_porcent = (total_closed.to_f/total_row*100).round(2) rescue '-' %>
<% delayed_porcent = (total_delayed_row.to_f/total_row*100).round(2) rescue '-' %>

<tr class="<%= cycle("odd", "even") %>">
  <td class="name" width="20%">
    <%if @project.id == row.id %>
        <strong>Total:
    <% end %>
    <%= link_to row.name, issues_path(filters_for_url({"project_type_id" => {:operator => "=", :values => [Setting.default_project_for_strategy.to_i]}, "status_id" => {:operator => "=", :values => @statuses.map{|status| status.id.to_s} },"project_and_descendants" => {:operator => "=", :values => [row.id] },"tracker_id" => {:operator => "=", :values => Tracker.where(:is_in_roadmap => true).map{|t| t.id.to_s} }}))%>
    <%if @project.id == row.id %>
        </strong>
    <% end %>
  </td>
  <% for status in @statuses %>
      <%if total_column[status.id] > 0 %>
        <td><%= link_to (aggregate data, { field_name => row.id, "status_id" => status.id }), issues_path(filters_for_url({"project_type_id" => {:operator => "=", :values => [Setting.default_project_for_strategy.to_i]}, "status_id" => {:operator => "=", :values => [status.id] },"project_and_descendants" => {:operator => "=", :values => [row.id] },"tracker_id" => {:operator => "=", :values => Tracker.where(:is_in_roadmap => true).map{|t| t.id.to_s} }}))%></td>
    <% end %>
  <% end %>
  <td><%= link_to (aggregate data, { field_name => row.id }), issues_path(filters_for_url({"project_type_id" => {:operator => "=", :values => [Setting.default_project_for_strategy.to_i]}, "status_id" => {:operator => "=", :values => @statuses.map{|status| status.id.to_s} },"project_and_descendants" => {:operator => "=", :values => [row.id] },"tracker_id" => {:operator => "=", :values => Tracker.where(:is_in_roadmap => true).map{|t| t.id.to_s} }}))%></td>
  <td><%= link_to (aggregate data_delay, { field_name => row.id }), issues_path(filters_for_url({"project_type_id" => {:operator => "=", :values => [Setting.default_project_for_strategy.to_i]}, "status_id" => {:operator => "=", :values => @statuses.select{|status| !status.is_closed?}.map{|status| status.id.to_s} },"due_date" => {:operator => "<=", :values => [(Date.today - 1).to_s(:db)] },"project_and_descendants" => {:operator => "=", :values => [row.id] },"tracker_id" => {:operator => "=", :values => Tracker.where(:is_in_roadmap => true).map{|t| t.id.to_s} }}))%></td>
  <td style="text-align: right;"><%= ((weight.is_a? Numeric) && !weight.to_f.nan? && weight >= 0 ? weight : '-') rescue '-'%></td>
  <td style="text-align: right;" class="advanced_porcent <%= get_color_class(advanced_porcent) %>"><%= ((advanced_porcent.is_a? Numeric) && !advanced_porcent.to_f.nan? && advanced_porcent >= 0 ? advanced_porcent : '-') rescue '-' %></td>
  <td style="text-align: right;" class="advanced_porcent <%= get_color_class(delayed_porcent, true) %>"><%= ((delayed_porcent.is_a? Numeric) && !delayed_porcent.to_f.nan? && delayed_porcent >= 0 ? delayed_porcent : '-') rescue '-' %></td>
</tr>
<% end %>
</tbody>
</table>
<% end
   reset_cycle %>