<style>
  .vGood {background-color:#24a83f;}
  .good {background-color:#26ec49;}
  .avg {background-color:#fd0;}
  .poor {background-color:#fa0;}
  .vPoor {background-color:#f30;}
  td.advanced_porcent {
    border-bottom: 2px solid #fff !important;
    padding: 0.5em 0 0.1em 0;
  }
</style>
<%= javascript_include_tag(:highcharts, :plugin => 'advanced') %>
<%= javascript_include_tag(:exporting, :plugin => 'advanced') %>
<%= javascript_include_tag("highcharts-more", :plugin => 'advanced') %>
<h2><%= l(:label_advanced) %></h2>

<%= render :partial => 'directions', :locals => { :data => @data, :field_name => @field, :rows => @rows, :data_delay => @data_delay } %>
<br>

<%= render :partial => 'users', :locals => { :data2 => @data2, :field_name => @field2, :rows2 => @rows2, :data_delay2 => @data_delay2 } %>
<br>

<%= render :partial => 'projects', :locals => { :data => @data3, :field_name => @field3, :rows => @rows3, :data_delay => @data_delay3 } %>
<br>

<%= link_to l(:button_back), project_issues_path(@project, filters_for_url) %>
<br>
<% other_formats_links do |f| %>
    <%= f.link_to 'XLSX', :url => params %>
<% end %>