<style>
  .vGood {background-color:#24a83f;}
  .good {background-color:#26ec49;}
  .avg {background-color:#fd0;}
  .poor {background-color:#fa0;}
  .vPoor {background-color:#f30;}
  td.advanced_porcent {
    border-bottom: 2px solid #fff !important;
    padding: 0.5em 0 0.1em 0;
  }
</style>
<h2><%= l(:label_advanced) %></h2>

<%= form_tag({ :controller => 'advanced', :action => 'index'},
             :method => :get, :id => 'query_form') do %>

    <%= hidden_field_tag 'set_filter', '1' %>
    <div id="query_form_content" class="hide-when-print">
      <fieldset id="filters" class="collapsible <%= @query.new_record? ? "" : "collapsed" %>">
        <legend onclick="toggleFieldset(this);">
          <%= l(:label_filter_plural) %>
        </legend>
        <div style="<%= @query.new_record? ? "" : "display: none;" %>">
          <%= render :partial => 'advanced/filters_advanced', :locals => {:query => @query, :show_add_filters => true} %>
        </div>
      </fieldset>
    </div>
    <p class="buttons hide-when-print">

      <%= link_to_function l(:button_apply), '$("#query_form").submit();', :class => 'icon icon-checked' %>
      <%= link_to l(:button_clear), { :set_filter => 1 }, :class => 'icon icon-reload'  %>
    </p>
<% end %>

<div class="tabs">
  <ul>
    <li><a id="tab-directions" class="<% if tab_is_direction? %>selected<% end %>" onclick="go_tab('tab-directions'); return false;"><%=l(:field_direction)%></a></li>
    <li><a id="tab-users" class="<% if tab_is_users? %>selected<% end %>" onclick="go_tab('tab-users'); return false;"><%=l(:field_assigned_to)%></a></li>
    <li><a id="tab-projects" class="<% if tab_is_project? %>selected<% end %>" onclick="go_tab('tab-projects'); return false;"><%=l(:field_project)%></a></li>
  </ul>
</div>


<div id="tab-content-directions" class="tab-content" style="display: <% if tab_is_direction? %>block<% else %>none<% end %>;">
  <% if tab_is_direction? %>
      <div class="box tabular">
        <%= render :partial => 'directions', :locals => { :data => @data, :field_name => @field, :rows => @rows, :data_delay => @data_delay } %>
      </div>
  <% end %>
</div>
<div id="tab-content-users" class="tab-content" style="display: <% if tab_is_users? %>block<% else %>none<% end %>">
  <% if tab_is_users? %>
      <div class="box tabular">
        <%= render :partial => 'users', :locals => { :data => @data, :field_name => @field, :rows => @rows, :data_delay => @data_delay } %>
      </div>
  <% end %>
</div>
<div id="tab-content-projects" class="tab-content" style="display: <% if tab_is_project? %>block<% else %>none<% end %>;">
  <% if tab_is_project? %>
    <div class="box tabular">
      <%= render :partial => 'projects', :locals => { :data => @data, :field_name => @field, :rows => @rows, :data_delay => @data_delay } %>
    </div>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
    function export_xlsx(){
        var url = "<%= advanced_path(@project, {:format => 'xlsx'}.merge(filters_for_url)) %>";
        if(url.search("\\?") >= 0){
            window.location.href = url + "&tab=" + $('div.tabs a.selected').attr('id');
        }else{
            window.location.href = url + "?tab=" + $('div.tabs a.selected').attr('id');
        }
    }

    function go_tab(tab){
        var url = "<%= advanced_path(@project, filters_for_url) %>";
        if(url.search("\\?") >= 0){
            window.location.href = url + "&tab=" + tab;
        }else{
            window.location.href = url + "?tab=" + tab;
        }
    }
</script>

<%= link_to l(:button_back), project_issues_path(@project, filters_for_url) %>
<br>
<% other_formats_links do |f| %>
    <a onclick="export_xlsx();return false">XLSX</a>
<% end %>