<style>
  .vGood {background-color:#24a83f;}
  .good {background-color:#26ec49;}
  .avg {background-color:#fd0;}
  .poor {background-color:#fa0;}
  .vPoor {background-color:#f30;}
  td.advanced_porcent {
    border-bottom: 2px solid #fff !important;
    padding: 0.5em 0 0.1em 0;
  }
</style>
<%= javascript_include_tag(:highcharts, :plugin => 'advanced') %>
<%= javascript_include_tag(:exporting, :plugin => 'advanced') %>
<%= javascript_include_tag("highcharts-more", :plugin => 'advanced') %>
<h2><%= l(:label_advanced) %></h2>

<div class="tabs">
  <ul>
    <li><a id="tab-directions" class="selected" onclick="showTab('directions', this.href); this.blur(); return false;"><%=@report_title%></a></li>
    <li><a id="tab-users" onclick="showTab('users', this.href); this.blur(); return false;"><%=@report_title2%></a></li>
    <li><a id="tab-projects" onclick="showTab('projects', this.href); this.blur(); return false;"><%=@report_title3%></a></li>
  </ul>
  <div class="tabs-buttons" style="display:none;">
    <button class="tab-left" type="button" onclick="moveTabLeft(this);"></button>
    <button class="tab-right" type="button" onclick="moveTabRight(this);"></button>
  </div>
</div>


<div id="tab-content-directions" class="tab-content" style="display: block;">
  <div class="box tabular">
    <%= render :partial => 'directions', :locals => { :data => @data, :field_name => @field, :rows => @rows, :data_delay => @data_delay } %>
  </div>
</div>
<div id="tab-content-users" class="tab-content" style="display: block;">
  <div class="box tabular">
    <%= render :partial => 'users', :locals => { :data2 => @data2, :field_name => @field2, :rows2 => @rows2, :data_delay2 => @data_delay2 } %>
  </div>
</div>
<div id="tab-content-projects" class="tab-content" style="display: block;">
  <div class="box tabular">
    <%= render :partial => 'projects', :locals => { :data => @data3, :field_name => @field3, :rows => @rows3, :data_delay => @data_delay3 } %>
  </div>
</div>



<%= link_to l(:button_back), project_issues_path(@project, filters_for_url) %>
<br>
<% other_formats_links do |f| %>
    <%= f.link_to 'XLSX', :url => params %>
<% end %>