<div class="contextual">
<%= delete_link position_path(@position) %>
</div>

<%= title [l(:label_positions), positions_path], @position.position_id %>

<%= labelled_form_for @position, :url => position_path(@position), :method => :put do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= submit_tag l(:button_update) %>
		| <%= link_to l(:button_cancel), positions_path %>
  </p>
<% end %>

<% content_for :sidebar do %>
	<h3><%= l(:label_administration) %></h3>
	<div id="admin-menu">
		<ul>
			<%= render_menu :admin_menu %>
		</ul>
	</div>
<% end %>

<% html_title l(:label_positions) %>

