<%= title [l(:label_positions), positions_path], l(:label_position_new) %>

<%= labelled_form_for @position, :url => positions_path do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= submit_tag l(:button_create) %>
		| <%= link_to l(:button_cancel), positions_path %>
  </p>
<% end %>

<% content_for :sidebar do %>
	<h3><%= l(:label_administration) %></h3>
	<div id="admin-menu">
		<ul>
			<%= render_menu :admin_menu %>
		</ul>
	</div>
<% end %>

<% html_title l(:label_positions) %>