<!--<div class="content-title"><%= title(l(:heading_easy_gantts_issues)) %></div>-->
<%= form_tag(issues_easy_resources_path(@project), :method => :get, :id => 'query_form') do %>
  <div id="query_form_with_buttons" class="hide-when-print">
    <%= hidden_field_tag 'set_filter', '1' %>
    <div id="query_form_content">
      <fieldset id="filters" class="collapsible collapsed">
        <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
        <div style="display: none;">
          <%= render :partial => 'queries/filters', :locals => {:query => @query} %>
        </div>
      </fieldset>
      <fieldset class="collapsible collapsed">
        <legend onclick="toggleFieldset(this);"><%= l(:label_options) %></legend>
        <div style="display: none;">
          <table>
            <tr>
              <td><%= l(:field_column_names) %></td>
              <td><%= render_query_columns_selection(@query) %></td>
            </tr>
          </table>
        </div>
      </fieldset>
    </div>
    <p class="buttons" style="display: inline;">
      <%= link_to_function l(:button_apply), '$("#query_form").submit()', :class => 'icon icon-checked' %>
      <%= link_to l(:button_clear), { :set_filter => 1, :project_id => @project }, :class => 'icon icon-reload'  %>
    </p>
	
	<div id="easy_gantt_menu" class="easy-gantt-menu clear" style="display: inline;">
    <div class="clear" style="display: inline;">
      <div class="push-right">
	    <span id="button_jump_today">
            <%= easy_resources_js_button(l(:label_today).capitalize, :title => l(:jump_today, :scope => [:easy_gantt, :title]), :icon => 'icon-calendar') %>
        </span>
        <% {'day' => 'calendar-day', 'week' => 'calendar-week', 'month' => 'calendar-month'}.each do |x, i| %>
          <div id="button_<%= x %>_zoom" class="menu-item">
            <%= easy_resources_js_button(:"#{x}_zoom", :icon => "icon-#{i}") %>
          </div>
        <% end %>
        <% menu_items_for(:easy_gantt, @project) do |node| %>
          <% opts = node.html_options.dup; opts[:url] = (node.url.is_a?(Proc) ? node.url.call(@project) : node.url) %>
          <div id="button_<%= node.name %>" class="menu-item">
            <% if opts.delete(:trial) %>
              <%= easy_resources_help_button(node.name, node.caption, opts) %>
            <% else  %>
              <%= easy_resources_js_button(node.caption, opts) %>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
	
	
  </div>
<% end %>
