<div class="contextual">
<%= link_to l(:label_issue_new), new_project_issue_path(@project), :class => 'icon icon-add' if User.current.allowed_to?(:add_issues, @project) %>
<%= link_to l(:button_edit), edit_issue_path(@issue), :onclick => 'showAndScrollTo("update", "issue_notes"); return false;', :class => 'icon icon-edit', :accesskey => accesskey(:edit) if @issue.editable? %>
<%= link_to l(:button_log_time), new_issue_time_entry_path(@issue), :class => 'icon icon-time-add' if User.current.allowed_to?(:log_time, @project) %>
<%= watcher_link(@issue, User.current) %>
<%= link_to l(:button_copy), project_copy_issue_path(@project, @issue), :class => 'icon icon-copy' if User.current.allowed_to?(:copy_issues, @project) && Issue.allowed_target_projects.any? %>
<%= link_to l(:button_delete), issue_path(@issue), :data => {:confirm => issues_destroy_confirmation_message(@issue)}, :method => :delete, :class => 'icon icon-del' if @issue.deletable? %>
<%= link_to l(:label_change_status), '#', :class => 'icon icon-issue_statuses2',:onclick => 'contextMenuShow2(event); return false;' %>
  <script type="text/javascript" charset="utf-8">
      function contextMenuShow2(event) {
          var mouse_x = event.pageX;
          var mouse_y = event.pageY;
          var mouse_y_c = event.clientY;
          var render_x = mouse_x;
          var render_y = mouse_y;
          var dims;
          var menu_width;
          var menu_height;
          var window_width;
          var window_height;
          var max_width;
          var max_height;

          $('#context-menu').css('left', (render_x + 'px'));
          $('#context-menu').css('top', (render_y + 'px'));
          $('#context-menu').html('');

          $.ajax({
              url: contextMenuUrl,
              data: 'back_url=<%= issue_path(@issue) %>&ids[]=<%= @issue.id %>&change_status=true',
              success: function(data, textStatus, jqXHR) {
                  $('#context-menu').html(data);
                  menu_width = $('#context-menu').width();
                  menu_height = $('#context-menu').height();
                  max_width = mouse_x + 2*menu_width;
                  max_height = mouse_y_c + menu_height;

                  var ws = window_size();
                  window_width = ws.width;
                  window_height = ws.height;

                /* display the menu above and/or to the left of the click if needed */
                  if (max_width > window_width) {
                      render_x -= menu_width;
                      $('#context-menu').addClass('reverse-x');
                  } else {
                      $('#context-menu').removeClass('reverse-x');
                  }

                  if (max_height > window_height) {
                      render_y -= menu_height;
                      $('#context-menu').addClass('reverse-y');
                      // adding class for submenu
                      if (mouse_y_c < 325) {
                          $('#context-menu .folder').addClass('down');
                      }
                  } else {
                      // adding class for submenu
                      if (window_height - mouse_y_c < 345) {
                          $('#context-menu .folder').addClass('up');
                      }
                      $('#context-menu').removeClass('reverse-y');
                  }

                  if (render_x <= 0) render_x = 1;
                  if (render_y <= 0) render_y = 1;
                  $('#context-menu').css('left', (render_x + 'px'));
                  $('#context-menu').css('top', (render_y + 'px'));
                  $('#context-menu').show();

                  //if (window.parseStylesheets) { window.parseStylesheets(); } // IE
              }
          });
      }
  </script>
</div>
