$("#<%= div_id %>").empty();
$("#<%= div_id %>").highcharts({
  chart: {
    zoomType: 'xy',
  },
  exporting: {
    filename: '<%= filename %>'
  },
  title: {
    text: '<%= title %>'
  },
  subtitle: {
    text: ''
  },
  xAxis: {
    categories: ['<%= raw data.select{|k, v|  k != 'goal'}.keys.join("','") %>'],
    crosshair: true
  },
  yAxis: {
    title: {
      text: ''
    },
  },
  tooltip: {
    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
    '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
    footerFormat: '</table>',
    shared: true,
    useHTML: true
  },
  series: [{
    type: 'spline',
    name: '<%= serie_name %>',
    data: [<%= raw data.select{|k, v|  k != 'goal'}.values.join(',') %>]
  }
  <% if  data['goal'] %>
      ,{
        type: 'spline',
        name: '<%= l(:label_estimated_hours) %>',
        data: [<%= raw data.select{|k, v|  k != 'goal'}.map{|v| data['goal']}.join(',') %>]
      },
      {
        type: 'spline',
        name: '<%= l(:label_difference) %>',
        data: [<%= data.select{|k, v|  k != 'goal'}.map{|k,v| (v - data['goal']).round(2)}.join(',') %>]
      }
  <% end %>
  ]
});
